version: '3'
services:
  {% for i in range(1, num_cassandra_nodes | int + 1) %}
  cassandra_node_{{ i }}:
    image: cassandra:3.11
    environment:
      CASSANDRA_CLUSTER_NAME: "TestCluster"
      CASSANDRA_SEEDS: "cassandra_node_1"
      MAX_HEAP_SIZE: "{{ cassandra_ram }}"
      HEAP_NEWSIZE: "256M"
    deploy:
      resources:
        limits:
          cpus: "{{ cassandra_cpus }}"
          memory: "{{ cassandra_ram }}"
    ports:
      - "{{ 9042 + i | int }}:9042"
    networks:
      - cassandra_network

  {% endfor %}

  {% for i in range(1, num_spark_nodes | int + 1) %}
  spark_worker_{{ i }}:
    image: bitnami/spark:3.0.1
    environment:
      SPARK_WORKER_CORES: "{{ spark_cpus }}"
      SPARK_WORKER_MEMORY: "{{ spark_ram }}"
    deploy:
      resources:
        limits:
          cpus: "{{ spark_cpus }}"
          memory: "{{ spark_ram }}"
    ports:
      - "{{ 8081 + i | int }}:8081"
    networks:
      - cassandra_network

  {% endfor %}

networks:
  cassandra_network:
    driver: bridge
