version: '3'
services:
cassandra_node_1:
  image: cassandra:3.11
  environment:
    CASSANDRA_CLUSTER_NAME: "TestCluster"
    CASSANDRA_SEEDS: "cassandra_node_1"
    MAX_HEAP_SIZE: "1024M"
    HEAP_NEWSIZE: "256M"
  deploy:
    resources:
      limits:
        cpus: "0.5"
        memory: "1536M"
  ports:
    - "9042:9042"
  networks:
    - cassandra_network

cassandra_node_2:
  image: cassandra:3.11
  environment:
    CASSANDRA_CLUSTER_NAME: "TestCluster"
    CASSANDRA_SEEDS: "cassandra_node_1"
    MAX_HEAP_SIZE: "1024M"
    HEAP_NEWSIZE: "256M"
  deploy:
    resources:
      limits:
        cpus: "0.5"
        memory: "1536M"
  ports:
    - "9043:9042"
  networks:
    - cassandra_network

networks:
  cassandra_network:
    driver: bridge
